h1{
  text-align: center;
}
nav{
  text-align: center;
  background-color: darkgray;
  background-attachment: 3px;
}
figure{
  text-align: center;
  padding-left: 50px;

}
#featured-property p{
  text-align: center;
}
#details{
  display: flex;
  flex: 33.3%;
  justify-content: space-around;
  background-color: red;
}